body {
    /* this affects the margin on the content before sending to printer */
    margin: 0;
    font-size: 11px;
    position: relative;
    display: table;
    table-layout: fixed;
    padding-top: 1px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
}

@media print {
    body {
        margin-top: 0;
        padding-top: 0;
    }
}

.tables, .border, .header-table {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px;
}

.border {
    width: 96.5%;
}

.tables {

    padding: 10px;
    margin: 10px 14px;
}

#sectionId {
    font-family: 'IDAHC39M Code 39 Barcode', Times, serif;
    font-size: 21px;
    margin: 0 120px;
}

.wr {
    writing-mode: vertical-lr;
    position: absolute;
    top: 18%;
    left: 28.5%;
    transform: rotate(180deg);
}

.wre {
    writing-mode: vertical-lr;
    position: absolute;
    top: 30%;
    left: 28.5%;
    transform: rotate(180deg);
}

@media (max-width: 990px) {
    .wr {
        top: 32%;
        left: 0.5%;
        font-size: 14px;
    }

    .wre {
        top: 52%;
        left: 0.5%;
        font-size: 14px;
    }
}
