.tableDiv {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}
.tableDiv .header {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    border: 1px solid #d6d6d6;
    border-bottom: none !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.tableDiv .body {
    display: flex;
    font-size: 14px;
    height: 75px;
    border: 1px solid #d6d6d6;
}
.tableDiv .body:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.tableDiv .body .date {
    font-size: 12px;
}
.tableDiv .body .address {
    display: grid;
}
.tableDiv .body .notes {
    font-size: 13px;
}
.tableDiv .date {
    padding: 4px;
    width: 20%;
    margin-left: 4px;
    text-align: left;
    border-right: 1px solid #d6d6d6;
}
.tableDiv .address {
    padding: 4px;
    width: 60%;
    margin-left: 4px;
    text-align: left;
    border-right: 1px solid #d6d6d6;
}
.tableDiv .address .address-line {
    font-weight: 600;
}
.tableDiv .address .address-additional {
    font-size: 12px;
}
.tableDiv .sign {
    padding: 4px;
    text-align: left;
    margin-left: 4px;
    width: 20%;
}

body {
    /* this affects the margin on the content before sending to printer */
    margin: 0px;
    font-size: 11px;
    position: relative;
    display: table;
    table-layout: fixed;
    padding-top: 1px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
}

@media print {
    body {
        margin-top: 0px;
        padding-top: 0px;
    }
}

.tables, .border, .header-table {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px;
}

.border {
    width: 96.5%;
}

.tables {

    padding: 10px;
    margin: 10px 14px;
}

#sectionId {
    font-family: 'IDAHC39M Code 39 Barcode', Times, serif;
    font-size: 21px;
    margin: 0 120px;
}

.wr {
    writing-mode: vertical-lr;
    position: absolute;
    top: 18%;
    left: 28.5%;
    transform: rotate(180deg);
}

.wre {
    writing-mode: vertical-lr;
    position: absolute;
    top: 30%;
    left: 28.5%;
    transform: rotate(180deg);
}

@media(max-width: 990px) {
    .wr {
        top: 32%;
        left: 0.5%;
        font-size: 14px;
    }
    .wre {
        top: 52%;
        left: 0.5%;
        font-size: 14px;
    }
}
